.topics{
    position : relative;    
    top:5rem;    
    max-width: 600px;  
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    
}
.topics-button{
    margin: 1rem;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .topics{
        grid-template-columns: 2fr 2fr;
    }
}
@media screen and (max-width:411px){
    .topics{
        grid-template-columns: 2fr 2fr;
    }
}