.topics{
    margin: 5rem auto 0 auto;
    max-width: 600px;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}
.topics-button{
    margin: 1rem;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .topics{
        grid-template-columns: 2fr 2fr;
    }
}