.container-playlist{
  /* border:1px solid red; */
  position: relative;
  top: 4rem; 
  margin : 0.5rem;
}
.card-horizontal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* border:1px solid blue; */
    margin: 1rem auto auto auto;
    
    width: 800px;
}
.playlist-video-thumbnail{
    width: 340px;
}
.div-video-details{
    margin-left:0.5rem;
}
.div-video-details a{
    text-decoration: none;
    color : var(--white);
    text-align: left;
}
.title-playlist{
    text-transform: capitalize;
    text-align: left;
    display: flex;
    

}
.div-title-playlist{
    /* border:1px solid var(--searchbar-color); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
   
    
}

@media screen and (max-width : 768px) {
    .card-horizontal{
     display: flex;
     flex-direction: column;
     width: 100%;
    }
}   .div-title-playlist{
    
}