.searchbar {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.searchbar input{
    background-color: var(--searchbar-color);
    border-radius: 4px;
    border:none;

}
.searchbar button{
    background-color: var(--theme-color);
    border-radius:4px;
    border:none;
}
.search-icon{
    color:white;
}
.search-icon:hover{
    cursor: pointer;
}