.sidebar{
    position:absolute;
    /* border:1px solid red; */
    padding: 0 1rem 0 1rem;
    text-align: left;
    width:10rem;
    height: 100%;
    position: fixed;
    /* z-index: 1; */
    top:4rem;
    background-color: var(--sidebar-theme);
    color:var(--white);

}
.sidebar-list{
    padding: 0;
}
.div-list-item{
    border-radius: 4px;
    
   
}
.div-list-item:hover{
    background-color: var(--searchbar-color);
}
.sidebar-list-item{
    list-style: none;
    /* text-align: left; */
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
