.sidebar{    
    display: flex;
    flex-direction: column;
    position:fixed;
    left:0;
    top:4rem;   
    width:6rem;   
    height: 100%;    
    z-index: 1;    
    background-color: var(--sidebar-theme);
    color:var(--white);

}
.sidebar-list{
    padding: 0;
}
.div-list-item{
    padding:0.25rem;
    font-size: 0.75rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;  
}
.div-list-item a{
    text-decoration: none;
    color: var(--white);
}
.div-list-item:hover{
    background-color: var(--searchbar-color);
    cursor: pointer;
    
}
.sidebar-list-item{
    list-style: none;
    /* text-align: left; */
    font-size: 1rem;
    /* margin: 0.5rem;
    padding: 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: center;

}
@media only screen and (max-width:900px){
    .sidebar{
        display: none;
    }
}
