.container-video{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    margin-right:10rem;
    margin-left:10rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
}
.video-section{
    display: flex;
    flex-direction: column;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25% 
}
.div-video-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
.note-section{
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   margin-right:2rem;
   margin-left:2rem;
   border: 2px solid var(--sidebar-theme);
}
.notes-display-section{
    
    border-bottom:1px solid var(--primary-color);
    width: 100%;
}
.notes-list{
    /* background-color: var(--searchbar-color); */
    max-height:265px;
    width:100%;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}
.notes-list::-webkit-scrollbar{
    width: 0.25rem;   
}
.notes-list::-webkit-scrollbar-track{
    background-color: var(--theme-color);
    
}
.notes-list::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 0.25rem;
}
.notes-list-item{
    list-style: none;
    /* border:1px solid green */
    background-color: var(--sidebar-theme);
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 6px;
    text-align: left;
}
.notes-input{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;    
}
.notes-input textarea{
    height: 100%;
    background-color: var(--sidebar-theme);
    border:none;
    resize: none;
    color:var(--white);
    padding:.25rem
}
@media screen and (max-width:1000px) {
    .container-video{
        grid-template-columns: 1fr;
    }
    .note-section{
        margin-right:0;
   margin-left:0;
    }
}
@media screen and (max-width:768px) {
    .container-video{
        grid-template-columns: 1fr;
    }
    .note-section{
        margin-right:0;
        margin-left:0;
    }

}


@media screen and (max-width:411px) {
    .container-video{
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;        
    }
    .div-video-details{
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }
    .notes-list{
        height: 8rem;
    }
    .note-section{
        margin-right:0;
        margin-left:0;
        
    } 
    .notes-input{
       /* border:1px solid red; */
       height: 10rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;     
        
        
    }
    .notes-input textarea{
        height: 100%;
    }
}

